In [23]:
import pandas as pd

# Creating dataframe 1

In [24]:
l1=['Alen','Patrik']
l2=[1,2]
df1=pd.DataFrame(l1,columns=['Name'])
df1['Id']=l2
df1.index=df1.index+1
df1

     Name  Id
1    Alen   1
2  Patrik   2

# Creating parent table

In [25]:
df2=pd.DataFrame()
df2['Col1']=['2000','Total','3000','2000','Total']
df2['Col2']=['Oct','2000','Nov','Dec','5000']
df2

    Col1  Col2
0   2000   Oct
1  Total  2000
2   3000   Nov
3   2000   Dec
4  Total  5000

# Creating final table`

In [27]:
c=1
l3=[]
df_n=pd.DataFrame(columns=['Name','Month','Salary'])
for i in range(df2.shape[0]-1):
    l2=[]
    if df2.loc[i,'Col1']=='Total':
        c=c+1
        
    else:
#         print(i)
        name=df1.loc[df1.index==c,'Name'].values[0]
        all_other=df2.loc[i]
        
        l2.append(name)
        l2.extend(all_other)
        l3.append(l2)

df_n=pd.DataFrame(l3)
df_n

        0     1    2
0    Alen  2000  Oct
1  Patrik  3000  Nov
2  Patrik  2000  Dec